@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200&display=swap');


$mainColor: #1E1E1E;
$mainWhite: #fff;



$width: 768px;

@mixin mobile{
    @media (max-width: #{$width}){
        @content
    }
};

